<!-- <p>The user's name is {{ name }}</p>
<button class="btn" (click)="addItem()">Add Item</button>

<p>Username: {{ username }}</p>
<p>Preferred Framework:</p>
<ul>
    <li>
    Static Image:
    <img ngSrc="/assets/logo.jpg" alt="Angular logo" width="32" height="32" />
    </li>
    <li>
    Dynamic Image:
    <img [ngSrc]="logoUrl" [alt]="logoAlt" width="32" height="32" />
    </li>
</ul> -->

<!-- <p>Username: {{ username | lowercase }}</p>
<p>Framework: {{ favoriteFramework }}</p>
<label for="framework">
    Favorite Framework:
    <input id="framework" type="text" [(ngModel)]="favoriteFramework" />
</label>
<button (click)="showFramework()">Show Framework</button>

<form [formGroup]="profileForm">
    <input type="text" formControlName="name" name="name" />
    <input type="email" formControlName="email" name="password" />
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<p>Car Listing: {{ display }}</p>
<p>Reverse Machine: {{ word | reverse }}</p>
<ul>
    <li>Number with "decimal" {{ num | number : '3.2-2' }}</li>
    <li>Date with "date" {{ birthday | date : 'medium' }}</li>
    <li>Currency with "currency" {{ cost | currency }}</li>
</ul> -->